<body>
  {% import os %}
  {% set base = tmpl_kwargs['base'] %}
  <!-- TODO: Filter bars -->
  {% include template-navbar-t2.html %}
  <div class="container-fluid py-4">
    {% for comp in tmpl_kwargs['layout_choice'] %}
      {% module Template(os.path.join(base, comp + '.html'), **tmpl_kwargs) %}
    {% end %}
  </div><!-- .container-fluid -->

  <script>
    $('.formhandler').formhandler({
      pageSize: 5,
      data: JSON.parse('{% raw charts_data.to_json(orient="records") %}')
    })
  </script>
</body>
